<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!-- class name="com.automation.hooks.Demo"/> -->
      <class name="com.automation.Maven.AppTest"/>
      <!-- class name="com.automation.hooks.Hook"/> -->
      <class name="com.automation.runners.TestRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
